@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 203 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 203 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 203 10% 3.9%;
    --primary: 203 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 203 4.8% 95.9%;
    --secondary-foreground: 203 5.9% 10%;
    --muted: 203 4.8% 95.9%;
    --muted-foreground: 203 3.8% 46.1%;
    --accent: 203 4.8% 95.9%;
    --accent-foreground: 203 5.9% 10%;
    --destructive: 0 72.22% 50.59%;
    --destructive-foreground: 0 0% 98%;
    --border: 203 5.9% 90%;
    --input: 203 5.9% 90%;
    --ring: 203 5% 64.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 203 53% 6%;
    --foreground: 0 0% 98%;
    --card: 203 55% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 203 55% 12%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 96%;
    --primary-foreground: 203 5.9% 10%;
    --secondary: 203 55% 12%;
    --secondary-foreground: 0 0% 98%;
    --muted: 203 3.7% 15.9%;
    --muted-foreground: 203 5% 64.9%;
    --accent: 203 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 203 3.7% 15.9%;
    --input: 203 55% 12%;
    --ring: 203 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


@media (max-width: 640px) {
  .container {
    @apply px-8;
  }
}
